* {
  margin: 0.001px;
  padding: 0.001px;
  box-sizing: border-box;
}

body {
  font-family: Mitr, sans-serif;
  font-weight: 600;
  background-color: #f0f0f0;
  color: #333;
}

header,
main {
  padding: 16px 6px;
}

header {
  word-break: break-all;
  margin-bottom: 1.5rem;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  align-items: center;
  padding: 5px;
  flex-flow: row wrap;
  word-break: break-all;
  gap: 16px;
}

.nav-title {
  word-break: break-all;
}

.nav-ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 5px;
  flex-flow: row wrap;
}

.nav-ul a {
  text-decoration: none;
  color: #333;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

/**
*? removed books stylings
**/

.bin-button {
  border: none;
}

.bin-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(230 232 229);
  font-family: Mitr, sans-serif;
  font-weight: 600;
  padding: 16px 6px;
  z-index: 1000;
  flex-flow: row wrap;
}

.bin-menu.visible {
  display: block;
}

.removed-p {
  color: black;
  text-align: center;
  margin-bottom: 1.5rem;
}

/**
* ? Bin.html styles
**/

.main-bin {
  display: grid;
  flex-flow: row wrap;
}

.bin-a {
  color: black;
  text-decoration: none;
}

.bin-a:hover {
  width: fit-content;
  background: #333;
  color: #fff;
}

.a-bin {
  color: black;
}

.bin {
  margin-top: 6.6px;
  background-color: none;
  border: none;
}

.bin:hover::after {
  content: 'recycle bin';
  font-size: x-small;
  margin-top: 10px;
}

.delete-btn {
  background: none;
}

.delete-btn:hover::after {
  content: 'delete permanently';
  font-size: x-small;
  margin-top: 10px;
}

/**
*? main page styles
**/

.head {
  font-family: Mitr, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
  word-break: break-all;
}

.nb-line {
  justify-self: center;
  width: 100%;
  max-width: 100px;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.book-list {
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
}

.new-books {
  display: grid;
  justify-content: center;
  flex-flow: row wrap;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 0.001px 10px 0.001px 5px;
  background-color: #c9c9c9;
  flex-flow: row wrap;
  margin-top: 1.2px;
  margin-bottom: 1.2px;
}

.book:nth-child(even) {
  background-color: #fff;
}

.book:first-child {
  padding-top: 3px;
}

.book:last-child {
  padding-bottom: 3px;
}

.book-p {
  font-family: Mitr, sans-serif;
  font-weight: 600;
  word-break: break-all;
  margin-top: 7px;
  margin-bottom: 7px;
}

.manage-btn {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.remove-btn,
.edit-btn,
.restore-btn,
.delete-btn {
  font-family: Mitr, sans-serif;
  padding: 0.001px 10px;
  cursor: pointer;
  word-break: break-all;
  border: 2px solid black;
  font-weight: 600;
  font-size: 1rem;
}

form {
  width: 100%;
  max-width: 400px;
  display: grid;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 20px;
  align-self: center;
  padding: 0.001px 36px;
}

.input-head {
  font-family: Mitr, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

form label {
  font-size: 0.5rem;
  color: transparent;
  text-align: right;
}

.input-div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  max-width: 400px;
  padding: 4px 4px 7px;
  border: 2px solid black;
  word-break: break-all;
  color: black;
  font-weight: bold;
}

.add {
  width: fit-content;
  padding: 3px 9px;
  cursor: pointer;
  border: 2px solid black;
  align-self: flex-start;
  margin-left: auto;
  font-family: Mitr, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.display {
  display: none;
}

/**
* ? contact section styles
**/

.contact {
  flex-flow: row wrap;
  gap: 1rem;
  font-weight: 500;
}

.contact-list,
.contact-p {
  display: grid;
  flex-flow: column wrap;
  text-align: flex-start;
  justify-content: center;
  align-items: center;
}

.contact-h {
  text-align: center;
  margin-bottom: 1rem;
}

/**
*? modal styles.css
*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0066;
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/**
*? footer styles
**/

footer {
  display: grid;
  margin-top: 1rem;
}

.footer {
  display: flex;
  border: 2px black solid;
  word-break: break-all;
  bottom: 0;
  position: absolute;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  width: 98.95%;
  justify-self: center;
  font-weight: 500;
}

.foot {
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.small {
  font-size: small;
}
